/* 引入 Prism.js 的主题 */
@import './code_prism.css';

/* 代码块容器 */
.code-block-wrapper {
    position: relative;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
    max-width: 100%;
}

/* 代码块样式 */
.code-block {
    background-color: rgba(248, 248, 248, 0.29); /* 柔和的灰色背景 */
    border-radius: 8px;
    padding: 0.25rem 0.28rem;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.95rem;
    line-height: 1.6;
    border: 1px solid rgba(0, 0, 0, 0.1); /* 微妙的边框 */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.02); /* 柔和的阴影 */
    position: relative;
    transition: background-color 0.3s ease;
}

/* 鼠标悬停时背景颜色变化 */
.code-block:hover {
    background-color: rgba(240, 240, 240, 0.34); /* 悬停时颜色变化 */
}

/* 内联代码样式 */
.inline-code .code-block {
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: rgba(248, 248, 248, 0.8); /* 更浅的背景颜色 */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none; /* 无阴影 */
    overflow: initial; /* 无需滚动 */
    white-space: nowrap; /* 不换行 */
    vertical-align: middle; /* 与文本中间对齐 */
}

/* 语言标签与复制按钮共用样式 */
.label-button-container {
    position: absolute;
    top: -1.5rem;
    right: 1rem;
    font-size: 0.75rem;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    background-color: rgba(253, 253, 253, 0.7);
    color: #000000;
    transition: background-color 0.3s ease;
}

/* 鼠标悬停时标签/按钮背景颜色变化 */
.label-button-container:hover {
    background-color: rgba(85, 85, 85, 0.09);
}

/* 复制按钮的图标与文字的间距 */
.copy-icon {
    margin-left: 0.25rem;
}

/* 响应式设计 */
@media (max-width: 768px) {
    .label-button-container {
        top: -1.2rem;
        right: 0.75rem;
        font-size: 0.7rem;
    }

    .code-block {
        padding: 1rem;
    }
}

/* 暗色模式 */
@media (prefers-color-scheme: dark) {
    .code-block {
        background-color: rgba(30, 30, 30, 0.85); /* 暗黑模式下深灰色背景 */
        border: 1px solid rgba(255, 255, 255, 0.04); /* 微妙的白色边框 */
        color: #e0e0e0; /* 浅色文字 */
    }

    .inline-code .code-block {
        background-color: rgba(45, 45, 45, 0.85); /* 更浅的灰色背景 */
        border: 1px solid rgba(255, 255, 255, 0.1); /* 微妙的白色边框 */
        color: #e0e0e0; /* 浅色文字 */
    }

    .label-button-container {
        background-color: rgba(92, 92, 92, 0.28); /* 按钮背景颜色 */
        color: #ffffff; /* 按钮文字颜色 */
    }

    .label-button-container:hover {
        background-color: rgba(85, 85, 85, 0.25); /* 悬停时的背景颜色变化（按钮） */
    }

    .code-block:hover {
        background-color: rgba(53, 53, 53, 0.48); /* 悬停时的背景颜色变化 */
    }

}
