@keyframes skeleton-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes skeleton-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .skeleton-fade-in {
    animation: skeleton-fade-in 0.2s ease-out forwards;
  }
  
  .skeleton-fade-out {
    animation: skeleton-fade-out 0.25s ease-out forwards;
  }
  

  @keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes loadingBar {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(300%);
    }
  }
  
  .skeleton-shine {
    animation: shine 2s infinite;
  }
  
  .animate-loading-bar {
    animation: loadingBar 2s infinite linear;
  }