:root {
    --blockquote-border: 228, 226, 226;  /* #e4e2e2 */
}

.dark {
    --blockquote-border: 74, 74, 74;     /* #4a4a4a */
}

.blockquote {
    border-left: 2px solid rgb(var(--blockquote-border));
    margin: 0.9rem 0 !important;
    padding-left: 1.2rem;
    position: relative;
    color: var(--text-color);
}

/* 响应式设计 */
@media (max-width: 768px) {
    .blockquote {
        padding-left: 0.75rem;
        margin: 0.15rem 0;
    }
}

/* 高对比度模式*/
@media (prefers-contrast: high) {
    .blockquote {
        border-left: 2px solid #000;
    }
}
