:root {
    --strikethrough-color: #6a737d;
    --strikethrough-opacity: 1;
}

.dark {
    --strikethrough-color: var(--text-color);
    --strikethrough-opacity: 0.7;
}

.text-strikethrough {
    text-decoration: line-through;
    color: var(--strikethrough-color);
    opacity: var(--strikethrough-opacity);
}
