.placeholder {
    font-size: 1.0225rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    min-height: 2em;
}

.text {
    position: relative;
    display: inline-block;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: sweep 2.45s infinite linear;
}

/* 修改渐变色 */
.text[data-sweep-color="light"] {
    background-image: linear-gradient(90deg, 
        rgba(128, 128, 128, 0.8),
        rgba(0, 0, 0, 0.9),
        rgba(128, 128, 128, 0.8)
    );
}

.text[data-sweep-color="dark"] {
    background-image: linear-gradient(90deg, 
        rgba(160, 160, 160, 0.8),  /* 基础颜色更亮 */
        rgba(255, 255, 255, 1),    /* 扫光颜色为纯白 */
        rgba(160, 160, 160, 0.8)   /* 基础颜色更亮 */
    );
}

.hovered .text {
    animation-play-state: paused;
}

@keyframes sweep {
    0% {
        background-position: 100%;
    }
    50% {
        background-position: 0%;
    }
    100% {
        background-position: -100%;
    }
}

.placeholder.hovered {
    color: inherit;
}